body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  width: 51em;
  padding: 2em;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  
}

.title {
display: flex;
align-items: center;
margin: auto;
height: 4em;
width: auto;
background-color: #010c3f;
}



.App {
 background-image: url('./Alien-City.jpg');
 text-align: center;
 height: 100%;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 
}

.App-Playlist {
  
  display: flex;
  justify-content: space-between;
}